* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  font: inherit;
  user-select: none;
  &:not(:disabled) {
    cursor: pointer;
  }
}

select {
  background-color: #fff;
  border: 1px solid hsl(220, 20%, 80%);
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0;
}

.IngredientsTable {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  tr {
    width: 100%;
    td,
    th {
      border-bottom: 1px solid lightgray;
      padding: 15px 0;
      &:last-child {
        text-align: right;
      }
    }
    th {
      text-align: left;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.1em;
    }
  }
}

.RecipeListItem {
  &__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button {
    background: none;
    opacity: 0.5;
    padding: 0;
    color: black;
  }
}
